<h2>Edit Movie</h2>

<form action="/movies/edit/{{_id}}" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" value="{{title}}">

    <label for="genre">Genre</label>
    <input id="genre" type="text" name="genre" value="{{genre}}">

    <label for="plot">Plot</label>
    <input id="plot" type="text" name="plot" value="{{plot}}">

    <label for="celebrity-select"> Cast:
        <select name="cast" multiple>
            {{!-- {{#each cast}}
        <option value="{{_id}}" {{#if (contains cast _id)}}selected{{/if}}> {{name}} </option>
            {{/each}} --}}

            {{#each cast}}
            <option value="{{_id}}"> {{name}} </option>
            {{/each}}
        </select>
    </label>

    <button type="submit">Save Changes</button>
</form>