<h2>{{title}}</h2>

<h3>{{title}}</h3>
<p>genre: {{genre}}</p>
<p>plot: {{plot}}</p>
<br>
<p>Starring:</p>
{{#each cast}}

    <p>{{name}}</p>
    <p>occupation: {{occupation}}</p>
    <p>- "{{catchPhrase}}"</p>

{{/each}}

<form action="/movies/delete/{{_id}}" method="POST">
  <button>Delete</button>
</form>

<form action="/movies/edit/{{_id}}" method="POST">
  <button>Edit Movie</button>
</form>